@import "../../../assets/styles/theme";

#crdHeader {
  background-image: url("src/assets/background.svg");
  background-size: cover;
  background-position: center;

  .header-title {
    font-size: 3rem;
  }

  .header-title:before {
    content: "";
    background: url("src/assets/iconlist.svg");
    width: 100px;
    height: 100px;
    transform: scale(0.5);
    display: block;
    position: absolute;
    left: -5rem;
    top: -5rem;
  }

  .header-title:after {
    content: "";
    background: url("src/assets/iconlist.svg");
    width: 200px;
    height: 100px;
    transform: scale(0.5);
    background-position-x: -100px;
    display: block;
    position: absolute;
    right: -10rem;
    bottom: -4rem;
  }
}

app-search-bar {
  #iptSearchBar {
    max-width: 50%;
    margin: auto;
  }
}

.fake-input-shadow {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 30px;
}

app-topic-filter .rad-grp-topic-filter .ant-radio-button-wrapper-checked {
  background-color: $primary-color-300 !important;
}

app-topic-filter .rad-grp-topic-filter .ant-radio-button-wrapper-checked:hover {
  background-color: $primary-color-400 !important;
}
