@import "src/assets/styles/theme";

$card-cover-img-size: 48.5%; // ~45.5%

.blog-item-large {
  .ant-card-cover {
   width: $card-cover-img-size;

    img {
      max-height: 400px;
      min-height: 400px;
      width: 100%;
      // In simple : this calculate used to make sure image height = 75% image width
      @apply object-center object-cover rounded-3xl border-[1px] border-blue-100 border-solid #{!important};
    }
  }

  .ant-card-body {
    width: calc(100% - $card-cover-img-size);
    @apply px-[55px] py-[18px] break-words flex flex-col #{!important};
    .blog-tag {
      @apply text-[18px] primary-color-300 #{!important};
    }

    .ant-card-meta-title {
      @apply text-[40px] header-font dark-color whitespace-normal font-semibold limit-3line;
      line-height: 54px;
    }

    .ant-card-meta-description {
      @apply text-[18px] limit-3line;
    }

    .blog-item-numbers .ant-statistic-content {
      @apply flex text-base;
      .ant-statistic-content-prefix {
        @apply flex items-center;
      }
    }
  }
}

.blog-item-small {
  .ant-card-cover {
    img {
      width: 100%;
      max-height: 280px;
      min-height: 280px;
      // In simple : this calculate used to make sure image height = 75% image width
      @apply object-center object-cover rounded-3xl border-[1px] border-blue-100 border-solid #{!important};
    }
  }

  .ant-card-body {
    @apply px-[30px] pt-[10px] pb-[10px] break-words flex flex-col #{!important};
    .blog-tag {
      @apply text-[16px] pb-[8px] primary-color-300 #{!important};
    }

    .ant-card-meta-title {
      @apply text-[20px] header-font dark-color whitespace-normal font-semibold limit-2line mb-4 h-[60px];
      line-height: 30px;
    }

    .ant-card-meta-description {
      @apply text-[16px] limit-3line;
    }

    .blog-item-numbers .ant-statistic-content {
      @apply flex text-base;
      .ant-statistic-content-prefix {
        @apply flex items-center;
      }
    }
  }
}
